*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
captures
.externalNativeBuild
.cxx
local.properties

# Build outputs
app/build/
app/build/outputs/
app/build/intermediates/
*.apk
*.aab
*.dex
*.class
*.so

# JDK ve gereksiz dosyalar
jdk-17.0.2/
openjdk-17.zip
logs.zip
nul
gradlew.bat
